numpy~=2.4.6
tqdm~=4.68.3
matplotlib~=3.11.0
umap-learn~=0.5.12
pandas~=3.0.3
optuna~=4.9.0
scipy~=1.18.0
scikit-learn~=1.9.0
hdbscan~=0.8.44
pillow~=12.2.0
scikit-image~=0.26.0
keras~=3.14.1
keras-hub~=0.29.1
tensorflow~=2.20.0